

<!-- <div class="area"></div> -->
    <nav class="main-menu">
     
            <ul>
                <li>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span class="nav-text">
                        Hey There, 
                        This is me. 
                     </span>
                </li>
                <li>
                    <a (click)="choose_tab('Dashboard')">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                           Dashboard
                        </span>
                    </a>
                  
                </li>
                <li class="has-subnav">
                    <a (click)="choose_tab('ManagePackages')">
                        <i class="fa fa-laptop fa-2x"></i>
                        <span class="nav-text">
                            Layouts
                        </span>
                    </a>    
                </li>
                
                <li class="has-subnav">
                    <a (click)="choose_tab('PackageStatus')">
                        <i class="fa fa-star-o" aria-hidden="true"></i> 
                        <span class="nav-text">
                            MailBox
                        </span>
                    </a>    
                </li>
                <li class="has-subnav">
                    <a (click)="choose_tab('PackageStatus')">
                        <i class="fa fa-folder-open-o fa-2x"></i>
                        <span class="nav-text">
                            Metrics
                        </span>
                    </a>    
                </li>
                <li class="has-subnav">
                    <a (click)="choose_tab('PackageStatus')">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span class="nav-text">
                            Graphs
                        </span>
                    </a>    
                </li>
                <li class="has-subnav">
                    <a (click)="choose_tab('PackageStatus')">
                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                        <span class="nav-text">
                            Widget
                        </span>
                    </a>    
                </li>

                <li class="has-subnav">
                    <a (click)="choose_tab('PackageStatus')">
                        <i class="fa fa-clone" aria-hidden="true"></i>
                        <span class="nav-text">
                            Forms
                        </span>
                    </a>    
                </li>
                
            </ul>
    
        </nav>